document {
    margin: 0; 
    padding: 0; 
}

html, body { 
    width: 100%; 
    height: 100%; 
}

canvas { 
    display: block; 
    z-index: 0;
}

#load-screen {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #fff;
}

#load-text {
    font: 400 50px/1em "Indie Flower", Arial, sans-serif;
    position: absolute;
    left: calc((100% - 278px)/2);
    top: calc(30%);
}

#load-cat {
    position: absolute;
    left: calc(50% - (100% / 32));
    top: calc(30% + 100px);
    width: calc(100% / 16);
    height: auto;
    -webkit-animation: FLIPPY-TRAJ 2s ease-in-out infinite;
    -moz-animation: FLIPPY-TRAJ 2s ease-in-out infinite;
    -o-animation: FLIPPY-TRAJ 2s ease-in-out infinite;
    animation: FLIPPY-TRAJ 2s ease-in-out infinite;
}

#load-cat img {
    width: 100%;
    height: 100%;
}

.instructions h2 {
    font: 400 26px/1em "Indie Flower", Arial, sans-serif;
    padding: 6%;
}

#continue-prompt {
    font: 800 48px/1em "Indie Flower", Arial, sans-serif;
    position: absolute;
    left: calc(50% - 174px);
    bottom: 5%;
    text-shadow: 0 0 10px rgba(255,255,255,0.9);
    color: #fff;
}

.control-menu, .instructions {
    position: absolute;
    z-index: 1;
    width: 40%;
    height: 313px;
    top: 313px;
    left: 30%;
    border: 10px solid #000;
    border-radius: 15px;
    background: #00c6ff;
    color: #000;
    text-align: center;
    overflow-y: hidden;
}

.control-menu h2 {
    font: 400 40px/1em "Indie Flower", Arial, sans-serif;
    margin: 3% 0;
}

.control-menu h3 {
    font: 400 15px/1em "Indie Flower", Arial, sans-serif;
    margin: 2%;
}

.option {
    font: 400 75px/1em "Indie Flower", Arial, sans-serif;
    border: 5px solid #000;
    width: auto;
    height: 1em;
    margin: 5px;
    padding-top: 10px;
    cursor: pointer;
    transition: background 200ms ease-in-out, color 200ms ease-in-out, border 200ms ease-in-out;
}

.option:hover, #selected-control {
    background: #fff;
    color: #00c6ff;
    border: 5px solid #fff;
}

#score-form {
    z-index: 1;
    width: 33%;
    height: 140px;
    position: absolute;
    top: 46%;
    left: calc((67% - 20px)/2);
    border-radius: 15px;
    border: 10px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    background: #df1e1e;
    color: #fff;
    font: 800 20px/1em "Indie Flower", Arial, sans-serif;
    text-align: center;
}

#submit {
    position: relative;
    width: 30%;
    line-height: 1em;
    height: calc(100%+10px);
    padding: 5px;
    left: calc(35%);
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

#submit:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}
    

#leaderboard {
    z-index: 1;
    width: 33%;
    height: 42%;
    position: absolute;
    top: 35%;
    left: calc((67% - 20px)/2);
    border-radius: 15px;
    border: 10px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    text-shadow: 0 0 10px rgba(255,255,255,0.7);
    background: #ffde2b;
    color: #fff;
    font: 400 20px/1em "Indie Flower", Arial, sans-serif;
    text-align: center;
}

#leaderboard h1 {
    text-align: center;
    padding-top: 40px;
    font-weight: 800;
    font-size: 50px;
}

#leaderboard h2 {
    word-spacing: 30px;
    padding: 10px;
}

#top-entries {
    position: absolute;
    top: 130px;
    height: calc(100% - 140px);
    width: 100%;
    overflow: scroll;
}

#top-entries h2 {
    font: 800 30px/1em "Indie Flower", Arial, sans-serif;
}

@-webkit-keyframes FLIPPY-TRAJ {
    0%, 100% {
        left: calc(40% - (100% / 32));
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    
    49% {
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    
    50% {
        left: calc(60% - (100% / 32));
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        
    }
    
    99% {
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@-moz-keyframes FLIPPY-TRAJ {
    0%, 100% {
        left: calc(40% - (100% / 32));
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    
    49% {
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    
    50% {
        left: calc(60% - (100% / 32));
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        
    }
    
    99% {
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@-o-keyframes FLIPPY-TRAJ {
    0%, 100% {
        left: calc(40% - (100% / 32));
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    
    49% {
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    
    50% {
        left: calc(60% - (100% / 32));
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        
    }
    
    99% {
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes FLIPPY-TRAJ {
    0%, 100% {
        left: calc(40% - (100% / 32));
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    
    49% {
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    
    50% {
        left: calc(60% - (100% / 32));
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        
    }
    
    99% {
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}